In [24]:
import pandas as pd

In [25]:
bots =pd.read_csv('content_polluters.txt', sep='\t', lineterminator='\n', header=None)

In [33]:
head = ["user_id","created","collected","following","followers","num_tweets","len_name", "len_bio"]

In [35]:
bots.columns

Index(['user_id', 'created', 'collected', 'following', 'followers',
       'num_tweets', 'len_name', 'len_bio', 'bot'],
      dtype='object')

In [28]:
bots.head()

,user_id,created,collected,following,followers,num_tweets,len_name,len_bio
0,6301,2006-09-18 01:07:50,2010-01-17 20:38:25,3269,3071,861,8,132
1,10836,2006-10-27 14:38:04,2010-06-18 03:35:34,1949,793,226,9,134
2,10997,2006-10-29 09:50:38,2010-04-24 01:12:40,1119,9644,38674,12,158
3,633293,2007-01-14 12:40:10,2010-01-24 11:59:38,2174,6029,12718,11,121
4,717883,2007-01-27 22:14:18,2010-02-06 06:25:58,7731,7029,873,6,70

In [29]:
bots["bot"] = 1

In [30]:
bots.head()

,user_id,created,collected,following,followers,num_tweets,len_name,len_bio,bot
0,6301,2006-09-18 01:07:50,2010-01-17 20:38:25,3269,3071,861,8,132,1
1,10836,2006-10-27 14:38:04,2010-06-18 03:35:34,1949,793,226,9,134,1
2,10997,2006-10-29 09:50:38,2010-04-24 01:12:40,1119,9644,38674,12,158,1
3,633293,2007-01-14 12:40:10,2010-01-24 11:59:38,2174,6029,12718,11,121,1
4,717883,2007-01-27 22:14:18,2010-02-06 06:25:58,7731,7029,873,6,70,1

In [36]:
users =pd.read_csv('legit.txt', sep='\t', lineterminator='\n', header=None)

In [37]:
users.columns = head

In [38]:
users["bot"] = 0

In [39]:
users.head()

,user_id,created,collected,following,followers,num_tweets,len_name,len_bio,bot
0,614,2006-07-13 15:30:05,2009-11-20 23:56:21,510,350,3265,10,34,0
1,1038,2006-07-15 16:12:15,2009-11-16 05:12:11,304,443,4405,7,156,0
2,1437,2006-07-16 12:29:24,2009-11-16 16:25:12,45,73,725,6,37,0
3,2615,2006-07-19 23:23:55,2009-11-27 18:34:36,211,230,211,7,0,0
4,3148,2006-07-26 14:17:22,2009-11-20 17:35:18,7346,7244,11438,8,97,0

In [41]:
training = pd.concat([bots,users])

In [43]:
len(training)

41499

In [45]:
training = training.sample(frac=1)

In [46]:
len(training)

41499

In [47]:
training.head()

,user_id,created,collected,following,followers,num_tweets,len_name,len_bio,bot
4606,48936207,2009-06-20 00:27:33,2010-03-03 14:11:50,1747,730,57,8,86,1
4659,22419996,2009-03-01 17:09:38,2009-11-13 23:46:03,88,24,158,12,14,0
4056,43102283,2009-05-28 07:49:30,2010-05-12 04:01:49,2139,2142,493,9,129,1
14736,68324565,2009-08-23 23:16:49,2009-11-17 19:00:27,11,32,100,10,0,0
2025,15975177,2008-08-24 20:13:13,2009-11-15 14:25:32,348,969,8710,13,151,0

In [48]:
with open('training.csv','w') as fp:
    training.to_csv(fp)