In [1]:
import pandas as pd

In [12]:
users =pd.read_csv('content_polluters.txt', sep='\t', lineterminator='\n', header=None)

In [13]:
users.head()

,6301,2006-09-18 01:07:50,2010-01-17 20:38:25,3269,3071,861,8,132
0,10836,2006-10-27 14:38:04,2010-06-18 03:35:34,1949,793,226,9,134
1,10997,2006-10-29 09:50:38,2010-04-24 01:12:40,1119,9644,38674,12,158
2,633293,2007-01-14 12:40:10,2010-01-24 11:59:38,2174,6029,12718,11,121
3,717883,2007-01-27 22:14:18,2010-02-06 06:25:58,7731,7029,873,6,70
4,763068,2007-02-10 10:51:38,2010-07-26 04:48:03,120,130,686,6,35